<h1> <%= @product.name %>!</h1>
<% if @product.image.attached? %>
  <%= image_tag @product.image %>
<% end %>
<%= link_to t("product.edit"), edit_product_path(), class: "btn btn-primary" %>
<%= link_to t("product.delete"), product_path(@product), data: { confirm: t("product.confirm"), turbo_method: :delete }, class: "btn btn-danger" %>
